#siging{
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 97vh;
    width: 98vw;
}
.signin{
    color: rgba(80, 165, 204, 1);
    font-weight: 1px;
    font-size: 35px;
    
}

#signup, #signin{
    border: 1px solid rgba(0, 0, 90, 1);
    border-radius: 20px;
    padding: 35px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 90, 1);
}


.input {
    border-color: rgba(0, 0, 90, 1);
    margin-top: -15px;
}

.signing {
    color: rgba(0, 0, 90, 1);
    border: 1px solid rgba(0, 0, 90, 1);
    border-radius: 20px;
    width: 170px;
    padding: 8px;
    font-weight: bold;
}

.bth:hover {
    background-color: rgba(80, 165, 204, 1);
    color: rgba(0, 0, 90, 1);
}

.signup {
    font-size: 12px;
}

.privacy {
    font-size: 10px;
}

.link {
    color: rgba(0, 0, 90, 1);
    text-decoration: none;
    
}

.link:hover {
    color: rgba(80, 165, 204, 1);
    text-decoration: underline;
}
.dashboard{
    // background: rgb(77,102,164);
    background: linear-gradient(135deg, rgba(77,102,164,1) 0%, rgba(168,210,235,1) 34%, rgba(255,255,255,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 97vh;
    width: 98vw;
}









.navbar {
    background-color: rgba(0, 0, 90, 1);
    width: 100%;
}

.logo {
    height: 40px;
}

.search {
    width: 200px;
}

.pp {
    width: 40px;
    border-radius: 20px;
}

.input:focus {
    box-shadow: none;
}

.btn {
    border-radius: 20px;
    margin-left: -45px;
}

.add-btn {
    color: rgba(80, 165, 204, 1);
    border: 1px solid rgba(80, 165, 204, 1);
    border-radius: 20px;
    width: 150px;
    padding: 8px;
}

.add-btn:hover {
    background-color: rgba(80, 165, 204, 1);
    color: rgba(1, 35, 64, 1);
}

.input {
    border-radius: 20px;
}
.sidebar {
    background-color: rgba(0, 0, 90, 1);
}

.nav-link {
    font-weight: lighter;
}

.blue {
    border-radius: 50px;
    margin-left: -25px;
}

.user {
    background-color: rgba(0, 0, 90, 1);
    width: 480px;
    border: 3px solid rgba(80, 165, 204, 1);
    border-radius: 50px;
}

.table {
    font-weight: lighter;
}

.line {
    border-bottom: 1px solid rgba(80, 165, 204, 1);
}
@media only screen and (max-width: 600px) {
    .sidebar {
        display: none !important;
    }
    .navbar{
        width: 156vw;
    }
}